@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');
$primary: #03a9f4;  /* rgb(3, 169, 244) */
$text: #555555;
$white: #fff;
$lightgray: #f7f8f9;
$black: #000;
$green: rgb(221, 212, 143);
$darkGreen: #59b52a;
$font: 'Montserrat', sans-serif;
$fontSize: 16px;
$transition: .3s ease;